@import "./../colors";
@import "./../fonts";
@import "./../mixins";
@import "./../configs";

//TODO add arrows on slider
#about {
  background-color: $section-grey;
}

.about {
  &__content-container {
    min-height: 852px;
    padding-top: 96px;
    @include center-top;
  }

  &__content {
    display: flex;
    color: $grey;
    line-height: 24px;
    margin-bottom: 50px;

    @media (max-width: $breakpoint-up-xs) {
      flex-direction: column;
      p {
        &:first-child {
          margin-bottom: 30px;
        }
      }
    }
  }

  &__content {
    p {
      &:first-child {
        margin-right: 30px;
      }
    }
  }

  &__team-list {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 98px;

    @media (max-width: $breakpoint-up-sm) {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;

      li {
        flex: 50%;

        &:not(:first-child) {
          margin-left: 0;
        }

        &:nth-child(2n) {
          margin-bottom: 40px;
        }
      }
    }

    @media (max-width: $breakpoint-up-xs) {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      li {
        margin-bottom: 40px;
      }
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:not(:first-child) {
      margin-left: 29px;
    }
  }

  &__img {
    max-width: 264px;
    position: relative;
    margin-bottom: 16px;
  }

  &__img-overlay {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    padding: 0 75px 32px 75px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $grey;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__img:hover &__img-overlay {
    opacity: 0.5;
  }

  &__url {
    font-size: 24px;
    color: $white;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:hover {
      color: $red;
    }
  }
}

.team {
  &__h2 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__p {
    text-transform: capitalize;
    font-family: $p-font;
    font-size: 13px;
    font-weight: 300;
  }
}



