@import "./../colors";
@import "./../fonts";
@import "./../mixins";


#blog {
}

.blog {
  &__content-container {
    min-height: 1078px;
    border: 1px solid black;
  }

  &__title {
    padding-top: 92px;
  }

  &__content {
    @include center-top;
  }

  &__item {

  }
}



