@import "./../colors";
@import "./../fonts";
@import "./../mixins";
@import "./../configs";


#clients {
  background-color: $section-grey;
}

.clients {
  &__content-container {
    min-height: 477px;
    @include center-top
  }

  &__brands-list {
    padding-top: 98px;
    width: 100%;
    max-width: 898px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 68px;

    @media screen and (max-width: $breakpoint-up-sm) {
      flex-wrap: wrap;
    }
  }

  &__brands-item {
    max-width: 142px;
  }

  &__slider-slide {
    max-width: 790px;
    text-align: center;
    color: $grey;
    font-family: $p-font;
  }
}

.clients-slide {
  &__p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  &__author {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 24px;
  }

  &__block-decor {
    display: flex;
    justify-content: center;
  }
}

.block-decor {
  &__p {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $grey-line;
  }

  &__p--active {
    background-color: $red;
  }
  & p:nth-child(2) {
      margin: 0 6px;
    }
}
