@import "./../colors";
@import "./../fonts";
@import "./../mixins";


.promo {
  background-image: url("../../assets/images/promo-img.svg");
  background-repeat: no-repeat;
}

.promo {
  &__layer {
    background-color: $red;
    opacity: 0.6;
  }

  &__content-container {
    min-height: 369px;
    padding-top: 98px;
    @include center-top;
  }

  &__title {
    text-align: center;
    margin-bottom: 44px;
  }

  &__h2 {
    font-family: $p-font;
    font-size: 30px;
    font-weight: 400;
    color: $white;
  }

  &__h2 {
    span {
      text-transform: uppercase;
    }
  }

  &__button {
    font-family: $p-font;
    font-size: 18px;
  }

}

