@import "./../colors";
@import "./../fonts";
@import "./../mixins";

#services {
}

.services {
  &__content-container {
    min-height: 578px;
    padding-top: 96px;
    @include center-top;
  }

  &__services-list {
    @include center;
    margin-bottom: 82px;

    @media (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__list-item {
    @include center-top;
    text-align: center;
  }

  &__list-item-icon {
    color: $red1;
    font-size: 90px;
  }

  &__list-item:nth-child(2) {
    margin: 0 30px;
  }

  &__list-item-info {
    color: $common-red;
    text-align: center;
  }

  &__list-item-info {
    h2 {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }

  &__list-item-info {
    p {
      font-family: $p-font;
      font-weight: 200;
      line-height: 24px;
    }
  }
}


