@import "./../colors";
@import "./../fonts";
@import "./../configs";

#about {
  background-image: url("./../assets/images/about.svg");
}

.about {
  &__content-container {
    min-height: 686px;
    display: flex;

    @media screen and (max-width: $breakpoint-up-xs) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info {
    padding-top: 204px;
    color: $white;
    max-width: 540px;
    margin-right: 94px;

    h2 {
      font-size: 36px;
      line-height: 36px;
      font-family: $button-font;
      font-weight: 400;
      text-transform: capitalize;
      margin-bottom: 52px;
      white-space: nowrap;
    }

    p {
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 26px;
      color: $white-p;
      font-family: $title-font;
      margin-bottom: 30px;
    }

    @media screen and (max-width: $breakpoint-up-md) {
      padding-top: 102px;
    }

    @media screen and (max-width: $breakpoint-up-sm) {
      margin-right: 48px;
    }

    @media screen and (max-width: $breakpoint-up-xs) {
      margin-right: 0;
      text-align: center;
    }

   @media screen and (max-width: $breakpoint-up-xxs) {
      padding-top: 0;
    }
  }

  &__images {
    padding-top: 120px;
    max-width: 475px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $breakpoint-up-xs) {
      padding-top: 30px;
    }

  }

  &__img-wrapper {
    max-width: 350px;

    &:first-child {
      margin-bottom: 5px;
    }

    &:last-child {
      align-self: flex-end;
    }

    @media screen and (max-width: $breakpoint-up-sm) {
      max-width: 300px;
    }

    @media screen and (max-width: $breakpoint-up-xs) {
      margin-bottom: 102px;
      align-self: center;
      &:last-child {
        align-self: center;
      }
    }

    @media screen and (max-width: $breakpoint-up-xxs) {
      margin-bottom: 0;
    }
  }

}