@import "./../colors";
@import "./../fonts";
@import "./../configs";

.how-it-works {
  background-color: $grey-dark;

  &__content-container {
    height: 338px;
  }

  &__list {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 0 86px;

    @media screen and (max-width: $breakpoint-up-sm) {
      margin: 42px;
    }

    @media screen and (max-width: $breakpoint-up-xxs) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__list-item {
    max-width: 215px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white-p;
    font-size: 36px;
    line-height: 26px;
    font-family: $button-font;
    font-weight: 400;
    text-transform: capitalize;
    white-space: nowrap;

    @media screen and (max-width: $breakpoint-up-md){
      font-size: 30px;
    }

    @media screen and (max-width: $breakpoint-up-sm) {
      font-size: 24px;
    }

    @media screen and (max-width: $breakpoint-up-xs) {
      font-size: 20px;
    }

    @media screen and (max-width: $breakpoint-up-xxs) {
      font-size: 28px;
      margin-bottom: 10px;
    }

    i {
      margin-bottom: 34px;
      font-size: 60px;
      padding-top: 100px;

      @media screen and (max-width: $breakpoint-up-xxs) {
        padding-top: 12px;
        font-size: 36px;
        margin-bottom: 20px;
      }
    }
  }

  &__dotted-circle {
    position: absolute;
    width: 340px;
    height: 280px;
    border-radius: 100%;
    border: 2px dotted;
    border-color: $grey transparent transparent transparent;
    border-bottom: 0;
    margin-top: 50px;

    @media screen and (max-width: $breakpoint-up-md) {
      width: 250px;
    }

    @media screen and (max-width: $breakpoint-up-sm) {
      display: none;
    }
  }

  &__icon--red {
    color: $red;
  }
  &__icon--blue {
    color: $blue;
  }

  &__icon--light-blue {
    color: $blue-light;
  }
}