@import "./../colors";
@import "./../fonts";

.how-it-works {
  background-color: $grey-dark;

  &__content-container {
    height: 338px;
  }

  &__list {
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 0 86px;
  }

  &__list-item {
    max-width: 215px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white-p;
    font-size: 36px;
    line-height: 26px;
    font-family: $button-font;
    font-weight: 400;
    text-transform: capitalize;
    white-space: nowrap;

    i {
      margin-bottom: 34px;
      font-size: 60px;
      padding-top: 100px;
    }
  }

  &__dotted-circle {
    position: absolute;
    width: 340px;
    height: 280px;
    border-radius: 100%;
    border: 2px dotted;
    border-color: $grey transparent transparent transparent;
    border-bottom: 0;
    margin-top: 50px;
  }

  &__icon--red {
    color: $red;
  }
  &__icon--blue {
    color: $blue;
  }

  &__icon--light-blue {
    color: $blue-light;
  }
}