.section-title {
	color: #555555;
	display: flex;
    flex-direction: column;
    align-items: center;
	margin-bottom: 70px;
}

.section-title h2 {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 26px;
	font-weight: 400;
}

.section-title hr {
	width: 50px;
	border-top: 2px solid #555555;
	margin-bottom: 26px;
}

.section-title p {
	font-family: 'Roboto Slab', serif;
    font-weight: 200;
	font-size: 16px;
	text-align: center;
}