.content-container {
	max-width: 1172px;
	margin: 0 auto;
	padding: 0 16px;
}

.img-cover {
	object-fit: cover;
	max-width: 100%;
	display: block;
	height: auto;
}

.img-contain {
	object-fit: contain;
	max-width: 100%;
	display: block;
	height: auto;
}

.navbar {
	display: flex;
}

.button {
	width: 180px;
	height: 50px;
	text-transform: uppercase;
	font-size: 16px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
}

.section-title {
	color: #555555;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title h2 {
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 26px;
	font-weight: 400;
}

.section-title hr {
	width: 50px;
	border-top: 2px solid #555555;
	margin-bottom: 26px;
}

.section-title p {
	font-family: 'Roboto Slab', serif;
    font-weight: 200;
	font-size: 16px;
	text-align: center;
}

.about__content {
	display: flex;
	color: #555555;
	line-height: 24px;
	margin-bottom: 50px;
}

.about__content p:first-child {
	margin-right: 30px;
}

.list {
	list-style: none;
}