.home {
    background-image: url("./../assets/images/home-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 770px;
}

.home__content-container {
    min-height: 706px;
    padding-top: 248px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home__title {
    text-align: center;
    color: #FFFFFF;
}
.home__h1 {
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 24px;
}

.home__p {
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    padding-bottom: 56px;
}

.home__button {
}

.home__button--transparent:hover {
	background-color: rgba(255,44,72,0.13);
	color: #ffffff;
}