* {
    margin: 0;
}

body {
    background-color: #990909;
    /*box-sizing: border-box;*/
}

.title-image {
    text-align: center;
    width: 100%;

}

.header-nav {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

main {
    display: flex;
}

nav div {
    display: inline-block;
    text-align: center;
    margin: 20px 10px 10px;
    color: white;
}

nav div img {
    width: 80%;
    margin: 5px;
}
nav div a {
    display: block;
    color: white;
    font-size: 20px;
}

.left-nav {
    width: 350px;
    background-color: #7d0909;
    margin-top: 10px;
    padding-top: 10px;
}

nav.left-nav ul {
    padding: 0;
}
li {
    list-style-type: none;
    margin-top: 20px;
}
nav.left-nav li a {
    color: #e95b11;
    font-size: 18px;
}

main div.content {
    padding: 10px;
}

.content {
    width: 70%;
}

div.content p {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

aside {
    width: 20%;
    margin: 5px;
    background-color: #E3DDDD;
}
aside h3 {
    background-color: #BDBDBD;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}

aside p {
    margin: 10px;
    font-size: 18px;
}
hr {
    width: 70%;
    margin: auto;
}

footer {
    margin-top: 20px;
}
footer div.copyright {
    background: #e95b11;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}