@mixin center-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}