* {
    margin: 0;
    transition: all .1s ease-in;
}

body {
    padding: 20px;
    height: 100vh;
}

.container {
    background-color: #3C3F44;
}

/*Header styles*/

header {
    background-color: #4B4F55;
    padding: 20px 0;
    text-align: center;
    color: #DD8483;
}

/*Main content styles*/

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.shopping-list {
    margin: 40px 0;
    width: calc(100% - 400px);
    min-width: 280px;
    /*min-width: 800px;*/
}
.shopping-list label {
    display: block;
    color: white;
    font-size: 20px;
    list-style-type: none;
    padding: 20px 0;
}

.shopping-list label:nth-child(1n) {
    background-color: #87849C;
}

.shopping-list label:nth-child(2n) {
    background-color: #797691;
}

.span-wrapper span {
    font-size: 14px;
    color: #C5B7B2;
}

.shopping-list label:hover {
    background-color: #615E75;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.shopping-list label:active {
    background-color: #DD8483;
}

.shopping-list label input:checked + span.span-wrapper{
    text-decoration: line-through;
}

.shopping-list input {
    margin: 7px;
    transform: scale(1.5);
}

.button {
    background-color: #4B4F55;
    color: #DD8483;
    min-width: 280px;
    width: calc(100% - 400px);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 100px;

}